# macOS
.DS_Store

# Obsidian
.obsidian/

# System junk
debug.log

# LaTeX build artifacts
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.xdv
*.fls
*.fdb_latexmk
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz
*-SAVE-ERROR
